{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    <div class="item">
      <b>Software Languages: </b><span>{{ skills.languages }}</span>
    </div>
    <!--//item-->
    <div class="item">
      <b>Frameworks: </b><span>{{ skills.frameworks }}</span>
    </div>
    <!--//item-->

    <div class="item">
      <b>Tools: </b><span>{{ skills.tools }}</span>
    </div>
    <!--//item-->

    <div class="item">
      <b>Operations: </b><span>{{ skills.operations }}</span>
    </div>
    <!--//item-->

    <div class="item">
      <b>Other: </b><span>{{ skills.other }}</span>
    </div>
    <!--//item-->

  </div>
</section>
<!--//skills-section-->
{% endif %}